{% extends 'recipes/base.html' %}
{% load static %}
{% block content %}
   {% for recipe in recipes %}
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ recipe.image.url }}" class="img-fluid rounded-start" alt="{{ object.title }}" style="height: 300px; object-fit: cover;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'recipes-detail' recipe.id %}">{{ recipe.title }}</a></h5>
        <p class="card-text">{{ recipe.text }}</p>
        <!-- Additional content -->
      
      </div>
    </div>
  </div>
</div>
    {% endfor %}
{% endblock %}
